{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h3 class="warning">FAQ management:</h3>
            <h5 class="text-muted">Edit a question</h5>
            <hr>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
 <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="#" class="form mb-2" enctype="multipart/form-data">
                    <!---
                    {% csrf_token %}
        {{ form.as_p }}
 -->
                    
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                   
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'all_faq' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Question</button>
                    </div>
                </form>
            </div>            
        </div>
</div>


{% endblock %}