<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link">
                About us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ready-made-hampers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ready Made Hampers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">For him</a>
                <a href="" class="dropdown-item">For her</a>
                <a href="" class="dropdown-item">Wedding</a>
                <a href="" class="dropdown-item">Baby</a>
                <a href="" class="dropdown-item">Seasonal Specials</a>
                <a href="" class="dropdown-item">All hampers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="create-your-own-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create your own
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Confectionery</a>
                <a href="" class="dropdown-item">Drinks</a>
                <a href="" class="dropdown-item">Food</a>
                <a href="" class="dropdown-item">Baby Items</a>
                <a href="" class="dropdown-item">Cosmetics</a>
                <a href="" class="dropdown-item">Ornaments &amp; Textiles</a>
                <a href="" class="dropdown-item">Greeting Cards</a>
                <a href="" class="dropdown-item">All products</a>
            </div>
        </li>
    </ul>
</div>