{% extends "base.html"%}
{% load static %}

{% block extra_title %}| About{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h2>About us</h2>
    <p>Sui Generis is Irelands unique gift retailer offering hampers for any occasion to those who like things a little
        bit different. What better way to make a gift stand out?</p>
    <p>Established in 2020, our ethos is our name meaning “of its own kind” and that is what we think about each and
        every person. Which is why we offer you a service to tailor your gift with luxury exclusive items to match the
        intended person.</p>
    <p>Our products are sourced in the place we call home, Ireland. Here we have rooted out small businesses kind enough
        to share their handmade, organic and ethical creations which is the truest treasure of today.</p>
    <br>
    <h3>Why Choose us?</h3>
    <br>
    <p>We source from small high quality, organic and ethical food producers in Ireland. The wines we offer are sourced
        from boutique vineyards too!
        You won’t find these products on supermarket shelves.</p>
    <br>
    <p>We ensure the answer to each question is yes!</p>
    <br>
    <p>Is it ethically produced?</p>
    <br>
    <p>Is it organic?</p>
    <br>
    <p>Does it taste and/or look good?</p>
    <br>
    <p>Is it Sui Generis?</p>
    <br>
    <p>Our packaging is designed by us and we understand the first thing you see is the packaging, so we know how to
        make a memorable impression … it’s all in the detail!</p>
    <br>
    <p>We only use the necessary packaging to keep our products safe and is guaranteed eco-friendly and bio degradable.
    </p>
    <br>
    <p>You have the opportunity to create your own personalised hamper, allowing you to truly tailor your gift for that
        special someone. (Can’t think of what they may like? Don’t worry, we also have pre-made hampers suitable for all
        occasions)</p>
    <br>
    <p>We only hand-pick products we feel will be truly enjoyed and appreciated. We love to help small businesses and
        wish to share their unique creations with the world!</p>
    <br>
    <p>There is never a bad time to give or receive a gift. Whatever the occasion, we have a hamper specially for you.
        Whether it be personal or corporate, big or small, for you or for them:</p>
    <br>
    <p>Make a memory by marking a moment and choose Sui Generis.</p>
    <br>

</div>
{% endblock%}